<mat-spinner *ngIf="loading"></mat-spinner>
<div *ngIf="!loading" class="first-time-wrapper width-full height-full" fxLayout="column" fxLayoutAlign="center center">
  <span class="width-40 accent-color margin-bottom-l mat-display-3">
    Please provide some details about your restaurant.
  </span>
  <app-input
    class="input margin-bottom-m"
    [label]="'Name'"
    [control]="nameControl"
    placeholder="Your Location Name"
  ></app-input>
  <app-select
    class="input margin-bottom-m"
    [label]="'Location'"
    [options]="availableLocations"
    placeholder="Select your city"
    [control]="locationControl"
    [selectMode]="selectMode.SIMPLE_SINGLE_OPTION"
    [displayFn]="displayFn"
    [valueFn]="valueFn"
  ></app-select>
  <app-button
    label="Save"
    (press)="onSaveLocationDetails()"
  ></app-button>
</div>
